@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --meli-bg-primary: #ffe600;
  --meli-bg-default: #f5f5f5;
  --meli-bg-darkGrey: #ebebeb;
  --meli-font-green: #00a650;
  --meli-font-dark-blue: #022a56;
  --meli-font-blue: #3483fa;
  --meli-font-black: rgba(0, 0, 0, 0.9);
  --meli-font-black-light: rgba(0, 0, 0, 0.8);
  --font-base: 'Proxima Nova';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Proxima Nova', sans-serif;
}

pre {
  font-family: 'Proxima Nova', sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.meliGradient {
  background: linear-gradient(to bottom, var(--meli-bg-primary), transparent);
}
